{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <a href="{{ path('addCommentaire') }}">
                        <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Ajouter Commentaire</button>

                    </a>

                </div>
                <div class="row" style="display: flex;align-items: center;justify-content: center">
                    <div class="col-lg-10">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>


                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th>id</th>
                                    <th>date</th>
                                    <th>description</th>
                                    <th>thematique</th>
                                    <th>discussion</th>
                                    <th>nb like</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for p in commentaire %}
                                    <tr>

                                        <th scope="row">{{ p.id }}</th>
                                        <th>{{ p.datecreationcom.format('d/m/Y') }}</th>
                                        <td>{{ p.description }}</td>
                                        <td>{{ p.discussion.thematique.nom }}</td>
                                        <td>{{  p.discussion.titre}}</td>
                                        <td>{{ p.nblike }}</td>
                                        <td><a href="{{ path('modificationCommentaire',{'id':p.id}) }}"><i class="fa fa-pencil" style="color:#00aff0;font-size:20px"></i> </td>
                                        <td><a href="{{ path('suppressionCommentaire',{'id':p.id}) }}"><i class="fa fa-trash" style="color:#ff5b5b;font-size:20px"></i> </a> </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>




{% endblock %}